*/.*
**/$*
**/bin/*
**/build/*
**/logs/*
*.log
*.info
.eslintcache

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# IntelliJ
/.idea
**/.idea

# App specific
**/node_modules/
**/dist
