name: Default
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    build-client:
        name: Build Client
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@master
            - name: Install Dependencies
              run: npm ci
            - name: Build
              run: npm run build:prod:client
            - name: Archive Production Artifact
              uses: actions/upload-artifact@master
              with:
                  name: dist
                  path: dist
    build-server:
        name: Build Server
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@master
            - name: Install Dependencies
              run: npm ci
            - name: Build
              run: npm run build:prod:server
            - name: Archive Production Artifact
              uses: actions/upload-artifact@master
              with:
                  name: dist
                  path: dist
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@master
            - name: Install Dependencies
              run: npm ci
            - name: Test
              run: npm run test
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@master
            - name: Install Dependencies
              run: npm ci
            - name: Lint
              run: npm run lint
    prettier:
        name: Prettier
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@master
            - name: Install Dependencies
              run: npm ci
            - name: Prettier
              run: npm run prettier
